<header>
    <nav class="myNav">
        <div class="myNav-brand">
            <img class="myNav-brand__img" src="../../../assets/img/myBooks_logo.png" alt="Logo" />
        </div>
        <div class="myNav-tabs">
            <a class="myNav-link" routerLink="/home" routerLinkActive="active" class="myNav-link">Inicio</a>
            <a class="myNav-link" routerLink="/add" routerLinkActive="active" class="myNav-link">Añadir libro</a>
            <a class="myNav-link" routerLink="/update" routerLinkActive="active" class="myNav-link">Actualizar libro</a>
            <a class="myNav-link" routerLink="/books" routerLinkActive="active" class="myNav-link">Libros</a>
            <a class="myNav-link" routerLink="/register" routerLinkActive="active" class="myNav-link">Registro</a>
            <a class="myNav-link" routerLink="/profile" routerLinkActive="active" class="myNav-link">Perfil</a>
        </div>
    </nav>
</header>