<body>
  <div class="section__content">
    <div class="section__row animate__animated animate__backInLeft">
      <div class="section__column --left --left-border">
        <div class="blob"></div>
      </div>
      <div class="section__column --right">
        <h2 class="section__subtitle --right">
          ¿Eres escritor o escritora y quieres distribuir tu libro con
          nosotros?
        </h2>
        <p class="section__text">
          Si ya eres usuario, rellena el formulario con los datos de tu libro
          para que aparezca en el listado!
        </p>
        <!-- TODO: routing a pagina addBook -->
        <button class="section__button" type="button" (click)="scroll('form-book')">
          Registra un libro
        </button>
      </div>
    </div>
  </div>

  <section *ngIf="bookList.length !== 0; else noBooks" class="books">
    <div class="section__content">
      <h1 class="section__title">Nuestra Biblioteca</h1>
      <div class="section__row">
        <p class="section__text">
          Esta es nuestra colección. Busca el libro que desees, y si no esta,
          rellena el formulario e interamenos conseguirlo.
        </p>

        <form class="form__search">
          <fieldset class="form__data --row">
            <select name="selectAutor" #selectAuthor class="form__input">
              <option value="" disabled selected>Autor</option>
              <option *ngFor="let author of authorSet" [value]="author">{{author}}</option>
            </select>
            <select name="selectGenre" #selectGenre class="form__input">
              <option value="" disabled selected>Género</option>
              <option *ngFor="let genre of genreSet" [value]="genre">{{genre}}</option>
            </select>
            <select name="selectFormat" #selectFormat class="form__input">
              <option value="" disabled selected>Formato</option>
              <option *ngFor="let type of formatSet" [value]="type">{{type}}</option>
            </select>
          </fieldset>
          <fieldset class="form__data --row">
            <button type="button" (click)="reset()">Reset</button>
            <button type="button" (click)="filtrar(selectAuthor.value, selectGenre.value, selectFormat.value)">Filtrar</button>
          </fieldset>
        </form>
        <!--  -->
      </div>
    </div>
      <!-- Cards -->
     <app-cards (eliminarLibro)="borrarLibro($event)" [bookListPadre] = 'bookList'></app-cards>
  </section>
  <ng-template #noBooks>
    <div class="not-found books">
      <div class="section__content">
        <div class="section__row">
          <div class="section__column --left">
            <h2 class="section__subtitle --left">
              UUUUPPPS.... parece que la información que buscas no esta
              disponible
            </h2>
            <p class="section__text">
              Si ya eres usuario, rellena el formulario con los datos de tu
              libro para que aparezca en el listado!
            </p>
            <div class="section__row --left">
              <!-- TODO: routing a pagina addBook -->
              <button class="section__button" type="button" (click)="scroll('form-book')">
                Registra un libro
              </button>
              <button class="section__button" type="button" (click)="reset()">
                Vuelve a buscar
              </button>
            </div>
          </div>
          <div class="section__column --right">
            <div class="blob--bg2"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</body>