
    <main class="home">
      <div class="home__wrapper animate__animated animate__slideInDown">
        <div class="home__banner">
          <h1 class="home__title">
            LLega<br /><span class="--subtitle">myBooks</span>
          </h1>
          <img
            class="home__logo"
            src="../../../assets/img/myBooks_logo.png"
            alt=""
          />
        </div>
        <div class="home__text">
          <p class="home__text-content">
            Estamos preparando la mayor librería online.<br />
            Pronto tendrás a tu alcance todos los libros que puedas imaginar.
          </p>
          <h4 class="home__text-slogan">
            Que no te lo cuenten, <span class="--upperCase">¡leelo!</span>
          </h4>
        </div>
        <button class="animate__animated animate__bounce animate__delay-2s animate__repeat-2" type="button" routerLink="/register">Registrarse</button>
      </div>
    </main>

  
